* {
  margin: 0;
  padding: 0;

  --azure: #0290ff;
  --pale-grey: #f5f6fa;
  --z: #fafafa;
  --white-two: #fff;

  font-family: sans-serif;
}

body {
  width: 100%;
  background-color: var(--pale-grey);
}

.App {
  width: 80%;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: var(--z);
  align-items: center;
}

.nav-header {
  padding: 20px;
  margin: auto;
  background-color: var(--white-two);
  border-bottom: 2px solid var(--pale-grey);
}

.navbar > div {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-right: 20px;
  width: 96%;
}

.nav-header h1 {
  width: 80%;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.nav-header div {
  display: flex;
  align-items: center;
}

.nav-header .nav-link a {
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #757575;
  opacity: 50%;
  text-decoration: none;
  cursor: pointer;
}

.nav-link a:hover {
  opacity: 100%;
}

.book-container {
  width: 90%;
  margin: 20px auto;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-category {
  color: #121212;
  opacity: 50%;
  font-size: 14px;
  font-weight: bold;
}

.book-title {
  font-size: 22px;
  font-family: "Roboto Slab", sans-serif;
  color: #121212;
  font-weight: bold;
}

.book-author {
  color: #4386bf;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.btn-container button {
  border: none;
  background-color: #fff;
  color: #4386bf;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.add-book button {
  background-color: #0290ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 150px;
}

.categories-div button {
  background-color: #0290ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 30px;
}

.btn-container button:hover {
  cursor: pointer;
  color: blue;
}

.right-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
}

.vertical-line {
  border-left: 1px solid rgb(196, 191, 191);
}

.vertical-line-big {
  border-left: 1px solid rgb(196, 191, 191);
  padding: 15px;
  height: 40px;
}

.progress-percentage {
  font-weight: bold;
  font-size: 1.5rem;
}

.progress-status {
  color: gray;
  font-size: 0.9rem;
}

.chart {
  width: 50px;
  height: 50px;
  border: 5px solid var(--azure);
  border-radius: 50%;
  border-left: 5px solid var(--pale-grey);
}

.current-chapter {
  color: rgb(196, 191, 191);
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.update-progress-btn {
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  background-color: var(--azure);
  color: white;
  padding: 10px;
}

.hr-add-book {
  border: 1px solid rgb(190, 189, 189);
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.add-book {
  width: 93%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.add-book h2 {
  color: #888;
  font-size: 20px;
  margin-bottom: 20px;
}

.add-book form {
  display: flex;
  justify-content: space-between;
}

.add-book input {
  font-size: 16px;
  padding: 5px;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

::placeholder {
  color: #c4c4c4;
}

.categories-div {
  margin: 0 auto;
  width: 90%;
}
